.Card:first-child {
  margin-top: 40px;
}

.Card {
  max-width: 900px;
  min-width: 450px;
  margin-top: 30px;
}

.ListItemMetaDesc {
  font-size: 20px;
}

.EachTransaction {
  padding: 16px 10px;
  vertical-align: center;
}

.EachTransaction:hover {
  cursor: pointer;
  background: rgba(87, 135, 191, 0.4);
  border-bottom-color: rgba(87, 135, 191, 0.4);
  border-top-color: rgba(87, 135, 191, 0.4);
  border-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
}

.ContainerButtonAdd {
  position: fixed;
  left: 50%;
  bottom: 3%;
  transform: translate(-50%, -50%);
  width: 60px;
  text-align: center;
  background: transparent;
  margin-bottom: 30px;
}

.ButtonAdd {
  color: white;
  z-index: 10;
  background: #24ED57;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  border-width: 1px;
  border-color: #24ED57;
  font-size: 30px;
  text-align: center;
}

.ButtonAdd:hover {
  background: #51DE76;
  border-color: #51DE76;
}
